@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a{
    text-decoration: none;
    color: unset;
}
body{
    margin: 0px 100px;
    background-color: #F1F1F3;
}
nav{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 20px;
}
nav button{
    height: 52px;
    width: 116px;
    border-radius: 10px;
}
nav button:hover{
    background-color: rgb(115, 212, 241);
}
#mainBar{
    color: #0E0E0E;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}
#mainBanner{
background-color: #C6E4D6;
border-radius: 40px;
display: flex;
margin-bottom: 80px;
}
#banner button:hover{
    background-color: #95c1fd;
    color: #0E0E0E;
}
#piller{
    margin-bottom: 80px;
}
#pillerBox{
    display: flex;
    gap: 20px;
}
.pillerBakCuller{
    background-color: #ffffff;
}
#future{
    margin-bottom: 80px;
}

#vision{
    background-color: #95c1fd;
}
#vision button{
    background-color: #2f70df;
}
#vision button:hover{
    background-color: #a6ff01;
    color: #12663f;
}
#energy{
    background-color: #C6E4D6;
}
#energy button{
    background-color: #09A15C;
}
#energy button:hover{
    background-color: #ff0000;
    color: #12663f;
}
#infrastructure{
background-color: #F7EBCF;
}
#infrastructure button{
    background-color: #FFD55D;
}
#infrastructure button:hover{
    background-color: #00eeff;
    color: #176440;
}
#banner{
    padding-left: 80px;
    padding-top: 80px;
}
#mainBanner p{
    color: #0E0E0E;
}
#mainBanner h1{
    font-weight: 622;
    height: 201;
}
#mainBanner img{
   width: 474;
   padding-left: 70%;
}
#mainBanner button{
    background-color: #006A50;
    font-size: 18px;
    width: 270px;
    height: 56px;
    border-radius: 10px;
    color: #ffffff;
}
#futureBox{
    display: flex;
    gap: 24px;
}
.btn{
    height:41px;
    width: 122px;
    border-radius: 10px;
}
#news{
   gap: 40px;
    margin-bottom: 80px;
}
.btn2 button:hover{
background-color: #12663f;
color: #ffffff;
}
.columns{
    display: flex;
    flex-direction: row-reverse;
}
#columns2{
    display: flex;
    height: auto;
    width: auto;
    gap: 24px;
}
#speech{
    margin-bottom: 80px;
}
.border{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    
}
#backgroundImg{
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
}
#satelite{
    border-radius: 10px;
}
p{
    color: #0E0E0E;
}
#emailSection{
    display: flex;
    gap: 0px;
    padding-left: 350px;
}
#subscribeSection{
    border: 2px solid black;
    align-items: center;
}
.donateSection{
    text-align: center;
    margin-bottom: 80px;
}
.donateSection input{
height: 50px;
width: 500px;
}
.donateSection button{
    height: 55px;
    width: 100px;
    background-color: #006A50;
    color: #FFFFFF;
}
.amount{
    margin-left: 500px;
    display: flex;
    margin-bottom: 20px;
}
#b200{
    background-color: #C6E4D6;
}
#b200 button:hover{
    background-color: #ff0000;
}
.subscribeSectiom{
    width: 1280px;
height: 400px;
margin: auto ;
border-radius: 20px;
background-color: #C6E4D6;
}
#donatBtn button:hover{
background-color: #ff0000;
color: #0E0E0E;
}
.alien{
    text-align: center;
    padding-top: 80px;
}
.alien input{
    align-items: center;
}
#emailSection input {
height: 50px;
width: 500px;
text-align: center;
}
#emailSection button{
    width: 100px;
    background-color: #006A50;
    color: #ffffff;
}
#emailSection button:hover{
    background-color: #ff0000;
    color: #0E0E0E;
}
further{
    text-align: center;
}
